/*===========================================================================*/
/* TEAM */
/*===========================================================================*/
      .team {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .team.away-team {
        border-bottom: .0625rem solid #eee;
      }

        .team li {
          float: left;
        }

          .team .team-logo img {
            display: block;
            width: 3rem;
            margin: 1.25rem 1.5rem 1.125rem;
          }

        .team .team-name {
          width: 8rem;
          padding: 1.5rem 0 0 0;
          text-transform: uppercase;
        }

          .team .team-name .abbr {
            display: none;
          }

          .team .team-name .city {
            display: block;
            color: #888;
            font-size: .75rem;
            line-height: 1;
          }

          .team .team-name .name {
            display: block;
            font-size: 1.25rem;
            line-height: 1;
          }

        .team .team-spread,
        .team .team-score {
          display: block;
          width: 6rem;
          font-size: 1.5rem;
          line-height: 5rem;
          text-align: center;
          text-transform: uppercase;
        }

        .team .team-score {
          color: #aaa;
        }

        .team .team-pick {
          float: right;
          text-align: center;
        }

          .team .team-pick input {
            position: absolute;
            overflow: hidden;
            clip: rect(1px, 1px, 1px, 1px);
            width: 16px;
            height: 16px;
            margin: 0;
          }
          [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: relative;
            left: 0;
            opacity: 1;
          }

          .team .team-pick label {
            position: relative;
            display: block;
            width: 6rem;
            margin: 0;
            padding: 0;
            color: #aaa;
            background: #f3f3f3;
            font-size: 1.5rem;
            line-height: 5rem;
            text-align: center;
            -webkit-transition: all 300ms ease-out;
              -moz-transition: all 300ms ease-out;
                -ms-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                    transition: all 300ms ease-out;
          }

          .team .team-pick [type="checkbox"]+label {
            height: inherit;
          }

          /* material input reset */
          .team .team-pick [type="checkbox"]:checked+label:before {
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            -webkit-transform: 0;
            transform: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-origin: 0;
            transform-origin: 0;
          }

          /* material input reset */
          .team .team-pick [type="checkbox"]+label:before,
          .team .team-pick [type="checkbox"]:not(.filled-in)+label:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            z-index: 0;
            border: 0;
            border-radius: 0;
            margin-top: 0;
            -webkit-transition: 0;
            transition: 0;
          }

          .team .team-pick.picked label,
          .team .team-pick.game-started.picked label {
            color: #fff;
            background: #d50000;
          }

          .team .team-pick.game-started.picked label {
            color: #aaa;
            box-shadow: inset 0px 0px 20px 2px rgba(136,136,136,.75);
            cursor: not-allowed;
          }

          .team .team-pick .disabled,
          .team .team-pick.game-started label {
            color: #fff;
            background: #fff;
            cursor: not-allowed
          }

          .team .team-pick .limit-reached {
            color: #ccc;
            background: #fff;
            cursor: not-allowed
          }

        .team .team-score-input {
          width: 7rem;
          margin-left: 2rem;
          padding-top: 1rem;
        }

          .team .team-score-input input {
            margin-bottom: 0;
            /*border-bottom: .0625rem solid #444;*/
            font-size: 1.5rem;
            text-align: center;
          }

        .team .team-result {
          float: right;
          width: 6.25rem;
          line-height: 6rem;
          text-align: center;
          text-transform: uppercase;
        }

        .team .error {
          padding: 1.25rem 0 0;
          color: #d50000;
        }

          .team .error i {
            position: relative;
            top: .1875rem;
          }

          .team .error .message {
            position: relative;
            top: -.25rem;
          }


  @media only screen and (max-width: 24.1875em) {

        .team .team-name,
        .team .team-score,
        .team .team-spread {
          display: none;
        }

  }

  @media only screen and (min-width: 24.25em) and (max-width: 33.75em) {

        .team .team-name {
          display: none;
        }
  }
/*===========================================================================*/
/* END TEAM */
/*===========================================================================*/