<div class="row">
  <div class="col s12">

    <form
      materialize
      (ngSubmit)="resetPassword()"
      [formGroup]="resetPasswordForm"
      class="reset-password-form"
    >
    
      <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
    
          <h4 class="mar-bot-h">Reset Password</h4>
          <h6 class="mar-bot-3">Enter your email below to reset your password.</h6>
          
          <div class="input-field">
            <input
              formControlName="email"
              type="email"
              id="email"
            />
            <label for="email">Email</label>
          </div>
          <p *ngIf="formErrors.email" class="input-error-msg">{{formErrors.email}}</p>
          <p *ngIf="formSubmitted && !resetPasswordForm.valid && resetPasswordForm.controls['email'].value === null" class="input-error-msg">Email required</p>

          <ng-container *ngIf="errorMsg">
            <app-error-validation [errorMsg]="errorMsg"></app-error-validation>
          </ng-container>
          
          <button
            #button
            type="submit"
            class="waves-effect waves-light btn-large btn-expand mar-top-3">
            Reset
          </button>
    
        </div>
      </div>
    
    </form>

  </div>
</div>