<div class="row">
  <div class="col s12">

    <form
      materialize
      *ngIf="users?.length > 0"
      (ngSubmit)="saveUsers()"
      [formGroup]="usersForm"
      class="users"
    >

      <div class="headers">
        <h4 class="mar-bot-h">Users</h4>
        <h6 class="mar-bot-2">Click on a user to edit.</h6>
      </div>
      
      <ng-container formArrayName="users">
        <ng-container *ngFor="let user of users; let i = index; let last = last; trackBy: trackUsers">
          <ng-container [formGroupName]="i">
            
            <app-users-list
              [user]="user"
              [control]="usersForm.controls.users.controls[i]"
              [last]="last"
              (deleted)="deleteUser($event)"
            ></app-users-list>
            
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="errorMsg">
        <div class="pad-lr-2 pad-top-2">
          <app-error-validation [errorMsg]="errorMsg"></app-error-validation>
        </div>
      </ng-container>
      <ng-container *ngIf="successMsg">
        <div class="pad-lr-2 pad-top-2">
          <app-success-validation [successMsg]="successMsg"></app-success-validation>
        </div>
      </ng-container>

      <button
        #button
        type="submit"
        class="waves-effect waves-light btn-large btn-stick-bot btn-expand">
        Save
      </button>
      
    </form>
  
  </div>
  <!--<div class="col s12 l6">
  
    <app-register-form
      [title]="title"
      [description]="description"
      (createdUserEE)="newUser($event)"
    >
    </app-register-form>
  
  </div>-->
</div>

<div class="row">
  <div class="col s12">
    
    <app-no-data
      *ngIf="noData"
      [errorMsg]="'Please add users to populate this page.'">
    </app-no-data>
    
    <app-error-server *ngIf="error"></app-error-server>

  </div>
</div>