/*===========================================================================*/
/* CHANGE PASSWORD FORM */
/*===========================================================================*/
  .change-password-form {
    margin-top: 1rem;
    padding: 2rem;
    background: white;
  }
/*===========================================================================*/
/* END CHANGE PASSWORD FORM */
/*===========================================================================*/