<div class="about">
  <div class="row white">
    <div class="col s12">
      <h2 class="title">Spread</h2>    
      <p class="desc">Compete against your friends, pick the winning team against the spread. Built with Angular 4+</p>
      <h4 class="author">Loc Dai Nguyen</h4>
      <ul class="list-inline">
        <li><i class="fa fa-envelope" aria-hidden="true"></i> loc.nguyen.33 [ at ] gmail.com</li>
        <li><a href="https://github.com/LocDaiNguyen" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> LocDaiNguyen</a></li>
        <li><a href="https://twitter.com/LocDaiNguyen" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> LocDaiNguyen</a></li>
      </ul>
    </div>
  </div>
</div>