/*===========================================================================*/
/* SUCCESS */
/*===========================================================================*/
.success {
  margin-top: 1rem;
  padding: 4rem 1rem;
  background: white;
  text-align: center;
}
  .success .title {
    margin-bottom: 1.5rem;
  }

  .success .text {
    margin-bottom: 4rem;
  }
/*===========================================================================*/
/* END SUCCESS */
/*===========================================================================*/