/*===========================================================================*/
/* PICK DISTS BAR */
/*===========================================================================*/
        .pick-dist-bar {
          padding: 0 1rem 1rem;
          background: #fff;
        }
          .pick-dist-bar .away-bar,
          .pick-dist-bar .home-bar {
            float: left;
            height: .375rem;
          }
/*===========================================================================*/
/* END PICK DISTS BAR */
/*===========================================================================*/