/*===========================================================================*/
/* PICK DIST */
/*===========================================================================*/
    .pick-dist {
      border-bottom: 1px solid #eee;
    }
    .pick-dist.last {
      border-bottom: 0;
    }

      .matchup {
        padding: 0;
        list-style: none;
      }

        .matchup .time {
          padding: .75rem 0;
          background: #eee;
          text-align: center;
        }
/*===========================================================================*/
/* END PICK DIST */
/*===========================================================================*/