/*===========================================================================*/
/* SUCCESS */
/*===========================================================================*/
  .success {
    padding: 1.5rem;
    border-left: .375rem solid #4caf50;
    background: #313131;
  }

    .success .text {
      color: #4caf50;
    }
/*===========================================================================*/
/* END SUCCESS */
/*===========================================================================*/