<div class="row">
  <div class="col s12">

     <div class="mar-top-2">
        <a materialize="dropdown" class='dropdown-button btn btn-expand change-week grey darken-3' href='#' data-activates='week-selector'>Change Week</a>
        <ul id='week-selector' class='dropdown-content'>
          <li><a [routerLink]="['/pick-distributions', 1]" class="black-text">Week 1</a></li>
          <li><a [routerLink]="['/pick-distributions', 2]" class="black-text">Week 2</a></li>
          <li><a [routerLink]="['/pick-distributions', 3]" class="black-text">Week 3</a></li>
          <li><a [routerLink]="['/pick-distributions', 4]" class="black-text">Week 4</a></li>
          <li><a [routerLink]="['/pick-distributions', 5]" class="black-text">Week 5</a></li>
          <li><a [routerLink]="['/pick-distributions', 6]" class="black-text">Week 6</a></li>
          <li><a [routerLink]="['/pick-distributions', 7]" class="black-text">Week 7</a></li>
          <li><a [routerLink]="['/pick-distributions', 8]" class="black-text">Week 8</a></li>
          <li><a [routerLink]="['/pick-distributions', 9]" class="black-text">Week 9</a></li>
          <li><a [routerLink]="['/pick-distributions', 10]" class="black-text">Week 10</a></li>
          <li><a [routerLink]="['/pick-distributions', 11]" class="black-text">Week 11</a></li>
          <li><a [routerLink]="['/pick-distributions', 12]" class="black-text">Week 12</a></li>
          <li><a [routerLink]="['/pick-distributions', 13]" class="black-text">Week 13</a></li>
          <li><a [routerLink]="['/pick-distributions', 14]" class="black-text">Week 14</a></li>
          <li><a [routerLink]="['/pick-distributions', 15]" class="black-text">Week 15</a></li>
          <li><a [routerLink]="['/pick-distributions', 16]" class="black-text">Week 16</a></li>
          <li><a [routerLink]="['/pick-distributions', 17]" class="black-text">Week 17</a></li>
          <li><a [routerLink]="['/pick-distributions', 18]" class="black-text">Week 18</a></li>
       </ul>
     </div>

  </div>
</div>

<div class="row">
  <div class="col s12">

    <div *ngIf="pickDistributionsVM?.length > 0" class="pick-dists">      
      <ng-container *ngFor="let pickDist of pickDistributionsVM; let last = last; trackBy: trackPicksDistribution">
        <app-pd-pick-dist [pickDist]="pickDist" [last]="last"></app-pd-pick-dist>
      </ng-container>
    </div>

    <app-no-data
      *ngIf="noData"
      [errorMsg]="'Please add settings, teams and games to populate this page.'">
    </app-no-data>
    
    <app-error-server *ngIf="error"></app-error-server>

  </div>
</div>
