/*===========================================================================*/
/* VERIFY */
/*===========================================================================*/
.verify {
  margin-top: 1rem;
  padding: 4rem 1rem;
  background: white;
  text-align: center;
}
  .verify .title {
    margin-bottom: 1.5rem;
    color: #d50000;
  }

  .verify .text {
    margin-bottom: 4rem;
  }
/*===========================================================================*/
/* END VERIFY */
/*===========================================================================*/