<div class="row">
  <div class="col s12">

    <div class="verify">
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <h4 class="title">Not Verified</h4>
          <p class="text">Please verify your email to activate your account. Check your email or resend a new verify email by following the link below.</p>
          <a
            routerLink="/verifications/resend"
            class="waves-effect waves-light btn-large">
            Resend
          </a>
        </div>
      </div>
    </div>

  </div>
</div>