/*===========================================================================*/
/* VERIFIED */
/*===========================================================================*/
  .linkExist {
    margin-top: 1rem;
    padding: 4rem 1rem;
    text-align: center;
    background: white;
  }

    .linkExist .title {
      margin-bottom: 1rem;
    }

    .linkExist .text {
      margin-bottom: 4rem;
    }
/*===========================================================================*/
/* END VERIFIED */
/*===========================================================================*/