/*===========================================================================*/
/* SIGN UP */
/*===========================================================================*/
.sign-up-bg {
  background-image: url('../../../assets/bg/nfl-bnw.jpg');
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
}
/*===========================================================================*/
/* END SIGN UP */
/*===========================================================================*/