/*===========================================================================*/
/* ERROR */
/*===========================================================================*/
  .error {
    padding: 1.5rem;
    border-left: .375rem solid #d50000;
    background: #313131;
  }

    .error .text {
      color: #d50000;
    }
/*===========================================================================*/
/* END ERROR */
/*===========================================================================*/