/*===========================================================================*/
/* PICK DISTS COUNT */
/*===========================================================================*/
        .pick-count {
          margin: 0;
          padding: 0 1rem;
          background: #fff;
          list-style: none;
        }

          .pick-count li {
            float: left;
            width: 50%;
          }

          .pick-count .away-count {
            text-align: left;
          }

          .pick-count .home-count {
            text-align: right;
          }
/*===========================================================================*/
/* END PICK DISTS COUNT */
/*===========================================================================*/