/*===========================================================================*/
/* DEACTIVE */
/*===========================================================================*/
.deactive {
  margin-top: 1rem;
  padding: 4rem 1rem;
  background: white;
  text-align: center;
}
  .deactive .title {
    margin-bottom: 1.5rem;
    color: #d50000;
  }

  .deactive .text {
    margin-bottom: 4rem;
  }
/*===========================================================================*/
/* END DEACTIVE */
/*===========================================================================*/