<li class="team-logo">
                <img
                  src="../../assets/logo/{{pick.pickedTeam | lowercase}}sml.jpg"
                  [alt]="pick.pickedTeam"
                  class="user-image"
                />
              </li>
              <li class="team-name">
                <span class="city">{{pick.city}}</span>
                <span class="name">{{pick.name}}</span>
                <span class="abbr">{{pick.pickedTeam}}</span>
              </li>
              <li class="team-spread">{{pick.spread}}</li>