/*===========================================================================*/
/* MATCHUP */
/*===========================================================================*/
    .matchup {
      margin-bottom: 2rem;
      /*border-bottom: 1px solid #eee;*/
    }
    .matchup:last-child {
      border-bottom: 0;
    }

      .matchup .time {
        padding: .75rem 0;
        background: #eee;
        text-align: center;
      }
/*===========================================================================*/
/* END MATCHUP */
/*===========================================================================*/