/*===========================================================================*/
/* RESEND VERIFICATION EMAIL FORM */
/*===========================================================================*/
  .resend-verification-form {
    margin-top: 1rem;
    padding: 2rem;
    background: white;
  }
/*===========================================================================*/
/* END RESEND VERIFICATION EMAIL FORM */
/*===========================================================================*/