/*===========================================================================*/
/* SETTINGS FORM */
/*===========================================================================*/
  .settings-form {
    margin-top: 1rem;
    padding: 3rem 1rem;
    background: white;
  }
/*===========================================================================*/
/* END SETTINGS FORM */
/*===========================================================================*/